* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1c0c0;
    padding: 30px;
}

select {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin: 0 auto 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

input {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #27682a;
}

#result {
    background-color: rgba(255, 255, 255, 0.5);
    width: 800px;
    margin: 20px auto 0 auto;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    min-height: 100px;
    font-size: 40px;
    text-align: center;
}

@media (min-width: 360px) {
    #result {
        width: 270px;
        margin: 20px auto 0 auto;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        min-height: 100px;
        font-size: 20px;
        text-align: center;
    }
}
@media (min-width: 500px) {
    #result {
        width: 300px;
        margin: 20px auto 0 auto;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        min-height: 100px;
        font-size: 20px;
        text-align: center;
    }
}
@media (min-width: 1025px) {
    #result {
        background-color: rgba(255, 255, 255, 0.5);
        width: 800px;
        margin: 20px auto 0 auto;
        padding: 15px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        min-height: 100px;
        font-size: 40px;
        text-align: center;
}
}